<!-- Request Configuration -->
<div class="grow">
    <form
        class="flex h-full flex-col justify-between"
        [formGroup]="request.form"
        (ngSubmit)="onSubmit(request)"
    >
        <div>
            <h2 class="mb-2">Input reactant pair for C-N coupling</h2>
            <p class="leading-6">
                Please input one aryl halide / amine reactant pair to
                analyze for reaction condition predictions (catalyst, base,
                solvent).
            </p>

            <!-- Pathway Search -->
            <div class="mt-2 flex flex-col gap-6">
                <p-panel class="my-6">
                    <ng-template pTemplate="header">
                        <div
                            class="flex w-full items-center justify-between p-2 px-4"
                        >
                            <span class="text-lg">Reactant Pair</span>
                            <div class="flex gap-2">
                                <button
                                    type="button"
                                    class="flex items-center rounded-md border p-2"
                                    (click)="useExample()"
                                >
                                    <i class="pi pi-box mr-2"></i>
                                    Use an Example
                                </button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="p-4">
                            <section>
                                <h3>Name your reactant pair</h3>
                                <input
                                    pInputText
                                    class="mt-2 w-full"
                                    placeholder="Enter reactant pair name..."
                                    formControlName="reactantPairName"
                                />
                            </section>
                            <section class="mt-2">
                                <h3>
                                    Enter your reactants<i
                                        class="pi pi-info-circle ml-2"
                                        pTooltip="Somn has been trained on reactants with only one reaction site; thus, it is encouraged to input reactants with one reaction site for analysis. If you enter a reactant with multiple reaction sites, you will be required to specify the intended reaction site."
                                    ></i>
                                </h3>
                                <div class="flex w-full gap-2">
                                    <div class="flex w-1/2 flex-col">
                                        <div
                                            class="mt-2 flex justify-between text-sm"
                                        >
                                            <span class="font-semibold"
                                                >Aryl Halide
                                                (bromide/chloride)</span
                                            >
                                            <span class="font-light"
                                                >Example:
                                                <span
                                                    class="font-normal underline cursor-pointer"
                                                    (click)="
                                                        request.form.controls['arylHalideName'].setValue('Bromobenzene');
                                                        request.form.controls['arylHalide'].controls['smiles'].setValue('c1ccc(cc1)Br');
                                                    "
                                                    >Bromobenzene</span
                                                >
                                            </span>
                                        </div>
                                        <input
                                            pInputText
                                            class="mt-2 w-full"
                                            placeholder="Enter aryl halide name..."
                                            formControlName="arylHalideName"
                                        />
                                        <app-marvinjs-input
                                            class="mt-2"
                                            placeholder="Enter aryl halide SMILES..."
                                            [value]="request.form.controls['arylHalide'].value"
                                            (valueChange)="onValueChange('arylHalide', $event)"
                                            type="electrophile"
                                        >
                                        </app-marvinjs-input>
                                    </div>
                                    <div class="flex w-1/2 flex-col">
                                        <div
                                            class="mt-2 flex justify-between text-sm"
                                        >
                                            <span class="font-semibold"
                                                >Amine</span
                                            >
                                            <span class="font-light"
                                                >Example:
                                                <span
                                                    class="font-normal underline cursor-pointer"
                                                    (click)="
                                                        request.form.controls['amineName'].setValue('Bromobenzene');
                                                        request.form.controls['amine'].controls['smiles'].setValue('c1ccc(cc1)Br');
                                                    "
                                                    >Bromobenzene</span
                                                >
                                            </span>
                                        </div>
                                        <input
                                            pInputText
                                            class="mt-2 w-full"
                                            placeholder="Enter amine name..."
                                            formControlName="amineName"
                                        />
                                        <app-marvinjs-input
                                            class="mt-2"
                                            placeholder="Enter amine SMILES..."
                                            type="nucleophile"
                                            [value]="request.form.controls['amine'].value"
                                            (valueChange)="onValueChange('amine', $event)"
                                        >
                                        </app-marvinjs-input>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </ng-template>
                </p-panel>
            </div>
        </div>

        <!-- Subscription Email Input -->
        <div
            class="sticky bottom-0 flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
        >
            <!-- TODO: validate parent form using input from marvin-js-input -->
            <div class="flex flex-col">
                <div class="mb-2 flex items-end justify-center">
                    <span class="mb-1 pr-12">
                        <h2 class="m-0 mr-2 inline">Email</h2>
                        Leave an email to get an notification when your
                        results are ready.
                    </span>
                </div>
                <div class="w-full">
                    <input
                        id="subscriber-email"
                        type="email"
                        aria-describedby="subscriber-email-help"
                        [class]="'h-12 w-full'
                        + ((request.form.controls['subscriberEmail'].invalid
                            && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                        pInputText
                        placeholder="Enter email here"
                        formControlName="subscriberEmail"
                    />
                    <small
                        *ngIf="request.form.controls['subscriberEmail'].invalid
                            && request.form.controls['subscriberEmail'].dirty"
                        id="subscriber-email-help"
                        class="p-error mt-2 block"
                        >Email is invalid.</small
                    >
                </div>
                <div class="py-4">
                    <p-checkbox
                        name="subscription"
                        styleClass="subscription-checkbox"
                        label="Agree to receive email notifications and updates about Somn."
                        [binary]="true"
                        [formControl]="request.form.controls['agreeToSubscription']"
                    ></p-checkbox>
                </div>
            </div>
            <p-button
                label="Analyze Using Somn"
                type="submit"
                styleClass="bg-[#224063]"
                [disabled]="request.form.invalid"
                iconPos="right"
                icon="pi pi-arrow-right"
            ></p-button>
        </div>
    </form>
</div>