<!-- Request Configuration -->
<div class="grow">
    <form
        class="flex flex-col justify-between h-full"
        [formGroup]="request.form"
        (ngSubmit)="onSubmit(request)"
    >
        <div>
            <div class="my-6">
                <h5 class="mb-2 font-bold opacity-100 leading-lg">Input reactant pair for C-N coupling</h5>
                <h6 class="leading-lg text-text-secondary">
                    Please input one aryl halide / amine reactant pair to
                    analyze for reaction condition predictions (catalyst, base,
                    solvent).
                </h6>
            </div>

            <div class="flex flex-col gap-6">
                <p-panel>
                    <ng-template pTemplate="header">
                        <span class="grow">Reactant Pair</span>
                        <div class="flex gap-2">
                            <button
                                type="button"
                                id="btn-use-example"
                                class="flex items-center btn-outline"
                                (click)="useExample()"
                            >
                                <i class="mr-2 pi pi-box"></i>
                                Use an Example
                            </button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div id="container-somn-input" class="p-4">
                            <section id="input-name-reactant-pair">
                                <p class="font-semibold leading-lg">Name your reactant pair</p>
                                <input
                                    pInputText
                                    class="w-full mt-2"
                                    placeholder="Enter reactant pair name..."
                                    formControlName="reactantPairName"
                                />
                                <ng-content *ngTemplateOutlet="error; context: {
                                    controlName: 'reactantPairName'
                                }"></ng-content>
                            </section>
                            <section id="input-reactants" class="mt-2">
                                <p class="font-semibold leading-lg">
                                    Enter your reactants<i
                                        class="ml-2 pi pi-info-circle"
                                        pTooltip="Somn has been trained on reactants with only one reaction site; thus, it is encouraged to input reactants with one reaction site for analysis. If you enter a reactant with multiple reaction sites, you will be required to specify the intended reaction site."
                                    ></i>
                                </p>
                                <div class="flex w-full gap-2">
                                    <div class="flex flex-col w-1/2">
                                        <div
                                            class="flex justify-between mt-2 text-sm"
                                        >
                                            <small class="font-semibold leading-xl"
                                                >Aryl Halide
                                                (bromide/chloride)</small
                                            >
                                            <small class="leading-xl text-text-secondary"
                                                >Example:
                                                <small
                                                    class="font-semibold underline cursor-pointer"
                                                    (click)="
                                                        request.form.controls['arylHalideName'].setValue('Bromobenzene');
                                                        request.form.controls['arylHalide'].setValue({
                                                            smiles: 'C1=CC=C(C=C1)Br',
                                                            reactionSite: '-'
                                                        });
                                                    "
                                                    >Bromobenzene</small
                                                >
                                            </small>
                                        </div>
                                        <input
                                            pInputText
                                            class="w-full mt-2"
                                            placeholder="Enter aryl halide name..."
                                            formControlName="arylHalideName"
                                        />
                                        <ng-content *ngTemplateOutlet="error; context: {
                                            controlName: 'arylHalideName'
                                        }"></ng-content>
                                        <app-marvinjs-input
                                            class="mt-2"
                                            placeholder="Enter aryl halide SMILES..."
                                            formControlName="arylHalide"
                                            type="electrophile"
                                        >
                                        </app-marvinjs-input>
                                    </div>
                                    <div class="flex flex-col w-1/2">
                                        <div
                                            class="flex justify-between mt-2 text-sm"
                                        >
                                            <small class="font-semibold leading-xl"
                                                >Amine</small
                                            >
                                            <small class="leading-xl text-text-secondary"
                                                >Example:
                                                <small
                                                    class="font-semibold underline cursor-pointer"
                                                    (click)="
                                                        request.form.controls['amineName'].setValue('Aniline');
                                                        request.form.controls['amine'].setValue({
                                                            smiles: 'C1=CC=C(C=C1)N',
                                                            reactionSite: '-'
                                                        });
                                                    "
                                                    >Aniline</small
                                                >
                                            </small>
                                        </div>
                                        <input
                                            pInputText
                                            class="w-full mt-2"
                                            placeholder="Enter amine name..."
                                            formControlName="amineName"
                                        />
                                        <ng-content *ngTemplateOutlet="error; context: {
                                            controlName: 'amineName'
                                        }"></ng-content>
                                        <app-marvinjs-input
                                            class="mt-2"
                                            placeholder="Enter amine SMILES..."
                                            type="nucleophile"
                                            formControlName="amine"
                                        >
                                        </app-marvinjs-input>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </ng-template>
                </p-panel>
            </div>
        </div>

        <!-- Subscription Email Input -->
        <div
            id="input-subscription-email"
            class="sticky bottom-0 flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
        >
            <!-- TODO: validate parent form using input from marvin-js-input -->
            <div class="flex flex-col">
                <div class="flex items-end justify-center mb-2">
                    <span class="pr-12 mb-1">
                        <h5 class="inline m-0 mr-2 font-semibold opacity-100 leading-lg">Email</h5>
                        <h6 class="inline-block leading-lg">Leave an email to get an notification when your
                        results are ready.</h6>
                    </span>
                </div>
                <div class="w-full">
                    <input
                        id="subscriber-email"
                        type="email"
                        aria-describedby="subscriber-email-help"
                        [class]="'h-12 w-full'
                        + ((request.form.controls['subscriberEmail'].invalid
                            && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                        pInputText
                        placeholder="Enter email here"
                        formControlName="subscriberEmail"
                    />
                    <small
                        *ngIf="request.form.controls['subscriberEmail'].invalid
                            && request.form.controls['subscriberEmail'].dirty"
                        id="subscriber-email-help"
                        class="block mt-2 p-error"
                        >Email is invalid.</small
                    >
                </div>
                <div class="py-4">
                    <p-checkbox
                        name="subscription"
                        styleClass="subscription-checkbox"
                        label="Agree to receive email notifications and updates about Somn."
                        [binary]="true"
                        [formControl]="request.form.controls['agreeToSubscription']"
                    ></p-checkbox>
                </div>
            </div>
            <div id="btn-use-somn">
                <p-button
                    label="Analyze Using Somn"
                    type="submit"
                    styleClass="bg-[#224063]"
                    [disabled]="request.form.invalid"
                    iconPos="right"
                    icon="pi pi-arrow-right"
                ></p-button>
            </div>
        </div>
    </form>
</div>

<p-dialog
    #tutorialDialog
    header="Configuration"
    [(visible)]="displayTutorial" 
    [modal]="true" 
    [style]="{ width: '350px' }" 
    [draggable]="false" 
    [resizable]="false"
>
    <div class="flex flex-col gap-6 -mb-2">
        <p class="leading-xl">
            It’s time to set up your job! Would you like us to show you around the request configuration page? You can always access this tour later.
        </p>
        <div class="flex items-center gap-2">
            <p-checkbox [(ngModel)]="tutorialService.showTutorial" [binary]="true"></p-checkbox>
            <label for="show-tour">Don't show this message again</label>
        </div>
        <div class="flex justify-between">
            <p-button 
                (onClick)="displayTutorial = false"
                styleClass="p-button-outlined" 
                label="Skip Tour">
            </p-button>
            <p-button
                (onClick)="displayTutorial = false; tutorialService.driver.drive()"
                label="Start Tour"
                styleClass="bg-[#224063]"
            ></p-button>
        </div>
    </div>
</p-dialog>

<ng-template #error let-controlName="controlName">
    <div class="text-[--status-error-color] text-xs my-1" *ngIf="request.form.get(controlName)!.errors && request.form.get(controlName)!.dirty">
        <div *ngIf="request.form.get(controlName)!.errors!['required']">This field is required</div>
    </div>
</ng-template>