<div class="mt-6 flex flex-col">
    <p-progressBar
        class="w-full"
        [showValue]="false"
        [value]="loadingValue$ | async"
        [style]="{height: '10px'}"
    ></p-progressBar>
    <div class="mt-2 text-end text-[--text-color-secondary]">
        Estimated remaining processing time: 30 minutes
    </div>
</div>
<div
    class="my-8 flex max-h-[540px] grow items-center gap-12 rounded-md bg-[--surface-b] px-12 pb-12"
>
    <img
        class="h-auto w-[300px]"
        src="assets/laptop.png"
        alt="Data science on laptop screen"
    />
    <div class="max-w-[480px]">
        <h2 class="mb-8">What is NovoStoic?</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur. Morbi nec gravida imperdiet
            lobortis gravida lacinia. Phasellus urna leo tincidunt nascetur
            justo tellus est ultrices ornare. Phasellus urna leo tincidunt
            nascetur justo tellus est ultrices ornare. Phasellus urna leo
            tincidunt nascetur justo tellus est ultrices ornare. Lorem ipsum
            dolor sit amet consectetur.
        </p>
        <p class="mt-5">
            Morbi nec gravida imperdiet lobortis gravida lacinia. Phasellus urna
            leo tincidunt nascetur justo tellus est ultrices ornare. Phasellus
            urna leo tincidunt nascetur justo tellus est ultrices ornare.
            Phasellus urna leo tincidunt nascetur justo tellus est ultrices
            ornare.
        </p>
    </div>
</div>
