<div class="flex flex-col mt-6">
    <p-progressBar
        class="w-full"
        [showValue]="false"
        mode="indeterminate"
        [style]="{height: '10px'}"
    ></p-progressBar>
</div>
<div
    class="my-8 flex max-h-[540px] grow items-center gap-12 rounded-md bg-[--surface-b] px-12 pb-12"
>
    <img
        class="h-auto w-[300px]"
        src="assets/laptop.png"
        alt="Data science on laptop screen"
    />
    <div class="max-w-[480px]">
        <h2 class="mb-6">What is Somn?</h2>
        <p class="leading-6">
            Somn is an open-source tool, committed to broadening access
            to AI-enabled synthesis planning. Interested in applying
            this project framework to another chemical system or
            restarting Somn’s active learning workflow with your own
            data? Explore Somn’s public code repository here: <br/>
            <a
                class="text-[#0080FF] underline leading-6"
                href="https://github.com/SEDenmarkLab/Lucid_Somnambulist"
            >
                <i class="mx-2 pi pi-external-link"></i>
                https://github.com/SEDenmarkLab/Lucid_Somnambulist
            </a>
        </p>
    </div>
</div>
