<div class="marvin-filter-container"
    [formGroup]="formGroup"
    [class.invalid]="
        formGroup.controls['smiles'].errors 
        && formGroup.controls['smiles'].dirty
    "
>
    <div class="p-inputgroup">
        <input
            title="Input your molecule"
            pInputText
            type="text"
            class="border-0"
            [placeholder]="placeholder"
            formControlName="smiles"
        />
        <button
            pButton
            type="button"
            class="p-button-secondary p-button-link p-button-outlined"
            icon="pi pi-pencil mr-2"
            (click)="showDialog$.next(true)"
        >
            <span class="font-semibold">Draw / Upload</span>
        </button>
    </div>
</div>

<div class="text-[--status-error-color] text-xs my-1" *ngIf="formGroup.controls['smiles'].errors && formGroup.controls['smiles'].dirty">
    <div *ngIf="formGroup.controls['smiles'].errors['required']">This field is required</div>
    <div *ngIf="formGroup.controls['smiles'].errors['chemicalNotSupported']">Chemical not supported</div>
    <div *ngIf="formGroup.controls['smiles'].errors['noReactionSitesFound']">No reaction site found in chemical</div>
    <div *ngIf="formGroup.controls['smiles'].errors['invalidUserInput']">Invalid input</div>
</div>

<ng-container *ngIf="formGroup.controls['smiles'].valid">
    <ng-container *ngIf="formGroup.controls['reactionSite'] as control">
        <div
            *ngIf="svg$.value"
            class="relative mt-4 grow flex-col items-center justify-center rounded-md border border-solid border-[--surface-d]"
            [class.invalid]="control.errors && control.dirty"
        >
            <i class="absolute pi pi-check-circle left-3 top-3"></i>
            <div class="flex items-center justify-center">
                <div class="svgContainer" [innerHTML]="svg$.value | safe:'html'"></div>
            </div>
            <div
                *ngIf="reactionSitesOptions$.value.length > 1"
                class="flex flex-col gap-2 p-2 m-2 rounded-md"
                [class]="(control.value === null)? 'bg-[#e9e9ff]' : 'bg-[#E4F8F0]'"
            >
                <div
                    class="flex items-center gap-2"
                    [class]="(control.value === null)? 'text-[#696CFF]' : 'text-[#1EA97C]'"
                >
                    <i
                        class="pi"
                        [class]="(control.value === null)? 'pi-info-circle' : 'pi-check-circle'"
                    ></i>
                    <div>
                        More than one reaction site has been detected in
                        your input; please specify the intended site to
                        continue.
                    </div>
                </div>

                <button (click)="op.toggle($event)" type="button" class="w-full rounded-md border-[#DEE2E6] border-solid border py-3 px-2 bg-white flex justify-between">
                    <span class="text-[#8A92A0]">{{ (control.value === null)
                        ? 'Select Reaction Site' 
                        : 'Reaction Site ' + (((selectedReactionSiteIndex$ | async) || 0) + 1) }}</span>
                    <i class="pi pi-chevron-down"></i>
                </button>
            </div>
        </div>
    </ng-container>
</ng-container>

<p-overlayPanel #op [style]="{'width': '510px'}">
    <ng-template pTemplate="content">
        <ng-container *ngIf="(reactionSiteSvgs$ | async) as options">
            <ng-container *ngIf="formGroup.controls['reactionSite'] as control">
                <div class="flex flex-wrap gap-4 p-4 cursor-pointer justify-stretch">
                    <span *ngFor="let option of options; let i = index" 
                        [class.active]="control.value === option.value"
                        class="
                            inline-block rounded-md border-solid border-[#DEE2E6] border p-2 bg-white cursor-pointer
                            hover:border-[#3B82F6] hover:outline-[#BFDBFE] hover:bg-[#F6F9FC] hover:outline
                        "
                        (click)="
                            control.setValue(option.value); 
                            control.markAsDirty()
                        "
                    >
                        <div class="flex items-center gap-2 mb-2 ml-2"><div class="dot" [style]="{ background: colors[i] }"></div> Reaction Site {{ i + 1 }}</div>
                        <div [innerHTML]="option.svg | safe:'html'" class="inline-block rounded-md border-solid border-[#DEE2E6] border p-2 bg-white"></div>
                    </span>
                </div>
            </ng-container>
        </ng-container>
    </ng-template>
</p-overlayPanel>

<p-dialog
    *ngIf="showDialog$.value"
    class="marvin-editor-container"
    [visible]="showDialog$.value"
    (visibleChange)="showDialog$.next($event)"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <app-marvin-js-editor
        class="marvin-editor"
        formControlName="smiles"
    ></app-marvin-js-editor>
    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-check"
            (click)="showDialog$.next(false)"
            label="Search Structure"
            styleClass="bg-[#224063]"
        ></p-button>
    </ng-template>
</p-dialog>
