.marvin-filter-container{
  padding: 5px;
  border: #CED4DA;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;

  &.invalid {
    border-color: var(--status-error-color);
  }

  .p-inputgroup{
    input{
      border-width: 0px;
    }
    button{
      background-color: #F8F9FA;
      border-color: #CED4DA;
      border-radius: 6px;
    }
  }
}

.marvin-editor-container {
  z-index: get_index(modal) !important;

  ::ng-deep .p-dialog {
    $editor_min_width: 617.5px;
    $editor_min_height: 650px;
    height: 50vh;
    width: 50vw;
    min-width: $editor_min_width;
    min-height: $editor_min_height;

    @media (width <= $editor_min_width) {
      width: 100vw;
      min-width: 0px;
    }

    @media (height <= $editor_min_height) {
      height: 100vh;
      min-height: 0px;
    }
  }

  .marvin-editor {
    display: block;
    height: 100%;
  }
}

.dot {
  display: inline-block;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
}

.active {
  @apply border-[#3B82F6];
  @apply outline-[#BFDBFE]; 
  @apply outline;
}
