<div class="marvin-filter-container"
    [class.invalid]="
        smilesFormControl.errors 
        && smilesFormControl.dirty
    "
>
    <div class="p-inputgroup">
        <input
            title="Input your molecule"
            pInputText
            type="text"
            class="border-0"
            [placeholder]="placeholder"
            [value]="smilesFormControl.value"
            (input)="onSmilesInput($event)"
        />
        <button
            pButton
            type="button"
            class="p-button-secondary p-button-link p-button-outlined"
            icon="pi pi-pencil mr-2"
            (click)="showDialog$.next(true)"
        >
            <span class="font-semibold">Draw / Upload</span>
        </button>
    </div>
</div>

<div class="text-[--status-error-color] text-xs my-1" *ngIf="smilesFormControl.errors && smilesFormControl.dirty">
    <div *ngIf="smilesFormControl.errors['required']">This field is required</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.InvalidInput]">SMILES is invalid</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.NoReactiveNitrogens]">No reactive nitrogens detected</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.NoBrOrClInEl]">No Br or Cl sites detected in electrophile</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.NoNitrogensInNuc]">No nitrogens detected in nucleophile</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.BrInNuc]">Br detected in nucleophile</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.ClInNuc]">Cl detected in nucleophile</div>
    <div *ngIf="smilesFormControl.errors[this.somnErrorTypes.NoReactionSite]">No reaction sites found</div>
</div>

<div class="relative mt-4 grow flex-col items-center justify-center rounded-md border border-solid border-[--surface-d]"
    *ngIf="smilesFormControl.errors 
        && smilesFormControl.errors[this.somnErrorTypes._3dGen]"
>
    <div class="flex flex-col gap-2 p-2 m-2 rounded-md bg-[#FFE7E6]">
        <div class="flex items-center gap-2 text-[#FF5757]">
            <i class="pi pi-times-circle"></i>
            <div *ngIf="fileInputFormControl.pristine">
                Sorry, we're having trouble parsing your molecule. Please input your reactant as a CDXML/CML and we'll try again.
            </div>
            <div *ngIf="fileInputFormControl.errors && fileInputFormControl.dirty">
                <div class="mb-1">File is invalid. Please try inputting your reactant as a CDXML/CML again.</div>
                <div>
                    <span class="font-semibold">Reason: </span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.InvalidInput]">Invalid content</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.NoReactiveNitrogens]">No reactive nitrogens detected</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.NoBrOrClInEl]">No Br or Cl sites detected in electrophile</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.NoNitrogensInNuc]">No nitrogens detected in nucleophile</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.BrInNuc]">Br detected in nucleophile</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.ClInNuc]">Cl detected in nucleophile</span>
                    <span *ngIf="fileInputFormControl.errors[this.somnErrorTypes.NoReactionSite]">No reaction sites found</span>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-1">
            <button type="button" 
                class="flex justify-center items-center px-3 py-2 bg-white border border-solid rounded-md gap-2 text-[#343a40] font-semibold"
                (click)="onFileInput()"
            >
                <i class="pi pi-upload"></i>
                <span>Upload CDXML/CML</span>
            </button>
        </div>
    </div>
</div>

<div
    class="relative mt-4 grow flex-col items-center justify-center rounded-md border border-solid border-[--surface-d]"
    [class.invalid]="reactionSiteFormControl.errors && reactionSiteFormControl.dirty"
    *ngIf="validatedResponse"
>
    <div class="flex items-center justify-center">
        <i class="absolute pi left-3 top-3"
            [class.pi-check-circle]="reactionSiteFormControl.valid"
            [class.pi-exclamation-circle]="reactionSiteFormControl.invalid"
            [class.pi-exclamation-triangle]="reactionSiteFormControl.invalid"
        ></i>
        <app-molecule-image 
            [height]="300" 
            [width]="300"
            [molecule]="validatedResponse.svg || ''"
            [reactionSitesOptions]="reactionSitesOptions"
            [selectedReactionSite]="selectedReactionSite"
            (selectedReactionSiteChange)="selectedReactionSite = $event"
        >
        </app-molecule-image>
    </div>
    <div
        class="flex flex-col gap-2 p-2 m-2 rounded-md bg-[#FFF2E2]"
        *ngIf="validatedResponse.has_chiral"
    >
        <div class="flex items-center gap-2 text-[#CC8925]">
            <i class="pi pi-exclamation-triangle"></i>
            <div>
                Just a heads up, if your molecule is a diastereomer (e.g. 
                cis-trans isomers), please be sure to input the 
                <span class="underline" pTooltip="When using SMILES for diastereomers (e.g. for geometric isomers such as cis-trans isomers), make sure to include '@' symbols at stereogenic centers (e.g. BrC1=C(C=CC=C1)CO[C@H]2CCCCC2) in your SMILES string to indicate the desired stereochemical configuration.">
                    correct stereochemical configuration
                </span>. This is needed in order to generate the intended results.
            </div>
        </div>
    </div>
    <div
        *ngIf="reactionSitesOptions.length === 1"
        class="flex flex-col gap-2 p-2 m-2 rounded-md bg-[#E4F8F0]"
    >
        <div class="flex items-center gap-2 text-[#1EA97C]">
            <i class="pi pi-check-circle"></i>
            <div>Somn will compute on the detected reaction site.</div>
        </div>
    </div>
    <div
        *ngIf="reactionSitesOptions.length > 1"
        class="flex flex-col gap-2 p-2 m-2 rounded-md"
        [class]="(!reactionSiteFormControl.value)? 'bg-[#e9e9ff]' : 'bg-[#E4F8F0]'"
    >
        <div
            class="flex items-center gap-2"
            [class]="(!reactionSiteFormControl.value)? 'text-[#696CFF]' : 'text-[#1EA97C]'"
        >
            <i
                class="pi"
                [class]="(!reactionSiteFormControl.value)? 'pi-info-circle' : 'pi-check-circle'"
            ></i>
            <div>
                More than one reaction site has been detected in
                your input; please specify the intended site to
                continue.
            </div>
        </div>

        <button (click)="op.toggle($event)"
            type="button" 
            class="flex justify-between w-full px-2 py-3 bg-white border border-solid rounded-md"
            [class.border-[#DEE2E6]]="!popupDisplayed"
            [class.border-black]="popupDisplayed"
            [style]="{
                'box-shadow': popupDisplayed ? '0 0 0 0.2rem #BFDBFE' : 'none'
            }"
        >
            <span class="text-[#8A92A0]">{{ (selectedReactionSite === null)
                ? 'Select Reaction Site' 
                : 'Reaction Site ' + (selectedReactionSite.idx + 1) }}</span>
            <i class="pi pi-chevron-down"></i>
        </button>
    </div>
</div>

<p-overlayPanel #op 
    [style]="{'width': '510px'}" 
    (onShow)="popupDisplayed = true"
    (onHide)="popupDisplayed = false"
>
    <ng-template pTemplate="content">
        <ng-container *ngIf="reactionSitesOptions as options">
            <ng-container *ngIf="reactionSiteFormControl as control">
                <div class="flex flex-wrap gap-4 p-4 cursor-pointer justify-stretch">
                    <span *ngFor="let option of options; let i = index" 
                        [class.active]="control.value === option.value"
                        class="
                            inline-block rounded-md border-solid border-[#DEE2E6] border p-2 bg-white cursor-pointer
                            hover:border-[#3B82F6] hover:outline-[#BFDBFE] hover:bg-[#F6F9FC] hover:outline
                        "
                        (click)="selectedReactionSite = option"
                    >
                        <div class="flex items-center gap-2 mb-2 ml-2"><div class="dot" [style]="{ background: colors[i] }"></div> Reaction Site {{ i + 1 }}</div>
                        <div [innerHTML]="option.svg | safe:'html'" class="inline-block rounded-md border-solid border-[#DEE2E6] border p-2 bg-white"></div>
                    </span>
                </div>
            </ng-container>
        </ng-container>
    </ng-template>
</p-overlayPanel>

<p-dialog
    *ngIf="showDialog$.value"
    class="marvin-editor-container"
    [visible]="showDialog$.value"
    (visibleChange)="showDialog$.next($event)"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
>
    <app-marvin-js-editor
        class="marvin-editor"
        [smiles]="smilesFormControl.value || ''"
        (smilesChange)="onSmilesInput($event)"
    ></app-marvin-js-editor>
    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-check"
            (click)="showDialog$.next(false)"
            label="Search Structure"
            styleClass="bg-[#224063]"
        ></p-button>
    </ng-template>
</p-dialog>
