<div class="rounded-md border-[#ced4da] px-3 py-2 flex justify-betweeen items-center bg-white border border-solid cursor-pointer hover:border-black"
    (mousedown)="filter.toggle($event)"
    [class.border-[#DEE2E6]]="!popupDisplayed"
    [class.border-black]="popupDisplayed"
>
    <div class="grow">
        <span class="inline-flex items-center gap-1 rounded-md bg-[#EFF6FF] text-[#1D4ED8] px-3 py-1">
            {{ yield$.value[0] }}% - {{ yield$.value[1] }}%
        </span>
    </div>
    <div><i class="pi pi-chevron-down"></i></div>
    <p-overlayPanel 
        #filter 
        [style]="{width: '360px'}" 
        styleClass="pt-4" 
        (onHide)="popupDisplayed = false" 
        (onShow)="popupDisplayed = true"
    >
        <app-density-plot 
            *ngIf="filter.overlayVisible"
            [data]="data$.value"
            [originalData]="originalData"
            [selectedRegion]="(yield$ | async) || [0, 100]"
            (selectedRegionChange)="selectedYield = $event"
        ></app-density-plot>
        <hr class="mt-12"/>
        <div class="flex justify-between p-4">
            <button class="px-4 py-2 rounded-md border border-solid border-[#224063] text-[#224063] font-semibold" (click)="onClickClear()">Clear</button>
            <button class="px-4 py-2 rounded-md border border-solid bg-[#224063] text-white font-semibold" (click)="onClickApply()">Apply</button>
        </div>
    </p-overlayPanel>
</div>