::ng-deep .subscription-checkbox {
    width:15px;
    height:15px;

    .p-checkbox-box {
        width:15px;
        height:15px;
        background: transparent;
        border-radius: 2px;
    }
}
